@font-face{
	font-family: "ubuntu";
	src: url(../fonts/Ubuntu-R.ttf) format("truetype");
}

@font-face{
	font-family: "ubuntu-l";
	src: url(../fonts/Ubuntu-L.ttf) format("truetype");
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

*{
	font-family: 'Raleway', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #37474F;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #546d7a; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #546d7a; 
}

.text{
    font-family: 'IBM Plex Sans', sans-serif;
	color: #78909C;
	line-height: 19pt;
}

html{
	min-height: 101%;
}

html, body{
	background: #ECEFF1;
	overflow-x: hidden;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

	#menu-toggle{
		display: none;
	}

	#menu-toggle:checked ~ .sidebar{
		display: inline-block;
		left: 0;
	}

	.sidebar {
		left: -198.5pt;
		width: 198.5pt;
		height: 100%;
		background: rgba(0,0,0,0);
		z-index: 1;
		position: fixed;
 		transition: all .12s ease-in-out;
 		 -webkit-transition: all .12s ease-in-out;
 		 -moz-transition: all .12s ease-in-out;
 		 -ms-transition: all .12s ease-in-out;
 		 -o-transition: all .12s ease-in-out;
 		 background: #546E7A;
	}

	.sidebar ul li a{
		color: #fff;
		padding-left: 50pt;
		font-family: 'Roboto';
		margin-top: -20pt;
		display: block;
	}

	.sidebar ul li img{
		margin-top: 7pt;
	}

	.sidebar ul li{
		list-style-type: none;
		padding-top: 2pt;
		font-size: 12.5pt;
		height: 38pt;
	}

	.sidebar ul li:hover{
		background: #546E7A;
	}

	.sidebar-label:hover{
		background: rgba(0,0,0,0);
	}

	.sidebar-label{
		list-style-type: none;
		padding-top: 6pt;
		font-size: 12pt;
		height: 34pt;
	}
	.sidebar ul{
		padding-top: 59pt;
	    list-style:none;
	    padding-left:0;
	}
	.title-bar{
		height: 70px;
		width: auto;
		background: rgba(0,0,0,0);
		border-radius: 3px 3px 0 0;
	}

	.title-bar p{
		font-family: 'ubuntu-l';
		color: grey;
		font-size: 19pt;
		padding-top: 15px;
		text-align: center;
		color: grey;
	}

	.title-bar-thin{
		height: 70px;
		width: auto;
		background: rgba(0,0,0,0);
		text-align: center;
	}
	.title-bar-thin p{
		font-family: 'ubuntu-l';
		text-align: center;
		color: grey;
		padding-top: 15px;
		font-size: 19pt;
		color: grey;
	}

	.button{
		height: 42px;
		margin-top: 4px;
		width: 104px;
		font-family: 'ubuntu-l';
		font-size: 11pt;
		display: inline-block;
		background: #fff;
		border: 2px solid #F661A0;
		color: grey;
		border: 1px solid #fff;
	}

	.button p{
	}

	.button p:hover{
		color: grey;
	}

	.button:hover{
		color: grey;
	}

	.navbar{
		width: 100%;
		height: 60px;
		position: fixed;
		border-radius: 0px;
		background: #455A64;
		z-index: 2;
	}

	.logo{
		display: inline-block;
		float: left;
		height: 34px;
		margin-top: 12.5px;
		margin-right: 57.5px;
	}

	.body-wrapper{
		width: 100%;
		margin-top: 60px;
	}

	.search{
		width: 100%;
		background: #546E7A;
		height: 47.5px;
		border: none;
		border-radius: 1.5pt;
	}
	.search:focus{
	    background: #fff;
	    color: #90A4AE;
 		transition: background .2s;
	}

	.search:focus button[type=submit] svg#search-icon {
	    fill: red !important;
	}

	#search-icon{
		fill: #fff;
	}

	.search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		color: #90A4AE;
		opacity: 1; /* Firefox */
	}

	input {  /* Firefox 19+ */
		text-indent: 18px;
		font-family: 'Open Sans', sans-serif;
		padding-top: 1.8pt;
		font-size: 12pt;
		color: #fff;
	}

	.form-control{
		border-radius: 0 0 0 0;
		border: 1px solid #ccc;
	}
	.dropdown-menu{
		font-family: 'ubuntu-l';
		box-shadow: none;
		border: 1px solid #ccc;
		margin-top: -4px;
		border-top: none;
		border-radius: 0 0 0 0;
		color: #ccc;
		float: right;
	}

	.dropdown-menu li a{
		color: grey;
		font-family: 'ubuntu-l';
	}
	a:hover{
		text-decoration: none;
		color: #78909C;
	}
	a {
		text-decoration: none;
		color: #607D8B;
	}

	.btn-primary{
		color: grey;
		background: #fff;
		border: 1px solid #ccc;
		margin-left: 50px;
	}
	.numbers-container{
		width: auto;
		margin-left: calc(50px + 1%);
		margin-top: 38px;
	}
	.numbers-container p{
		display: inline-block;
		margin-right: 5%;
		margin-left: 2px;
		font-size: 13pt;
		font-family: 'ubuntu-l';
	}
	ul{
		list-style-type: none;
	}
	.pagination > li > a,
	.pagination > li > span {
		color: #6D64FD;
	}

	.pagination > .active > a,
	.pagination > .active > a:focus,
	.pagination > .active > a:hover,
	.pagination > .active > span,
	.pagination > .active > span:focus,
	.pagination > .active > span:hover {
		background-image: linear-gradient(135deg, #2E3C43 0%, #2E3C43 100%);
		border-color:  #2E3C43;
	}

	.hamburger{
		height: 50px;
		width: 50px;
		display: inline-block;
		float: left;
		margin-left: 20px;
		margin-top: 16px;
		font-size: 14pt;
		color: #fff;
		cursor: pointer;
	}
