@font-face{
	font-family: "ubuntu";
	src: url(../fonts/Ubuntu-R.ttf) format("truetype");
}

@font-face{
	font-family: "ubuntu-l";
	src: url(../fonts/Ubuntu-L.ttf) format("truetype");
}

html, body{
	background: #fff;
	overflow-x: hidden; 
}
.title-bar{
	height: 70px;
	width: auto;
	background: rgba(0,0,0,0);
	border-radius: 3px 3px 0 0;
}

.title-bar p{
	font-family: 'ubuntu-l';
	color: grey;
	font-size: 19pt;
	padding-top: 15px;
	text-align: center;
	color: grey;
}

.title-bar-thin{
	height: 70px;
	width: auto;
	background: rgba(0,0,0,0);
	text-align: center;
}
.title-bar-thin p{
	font-family: 'ubuntu-l';
	text-align: center;
	color: grey;
	padding-top: 15px;
	font-size: 19pt;		
	color: grey;
}

.sidebar{
	height: 100%;
	width: 20%;
	background: rgba(0,0,0,0);
	float: right;
	display: inline-block;
}

.button{
	height: 42px;
	margin-top: 4px;
	width: 104px;
	font-family: 'ubuntu-l';
	font-size: 11pt;
	display: inline-block;
	background: #fff;
	border: 2px solid #F661A0;
	color: grey;
	border: 1px solid #fff;
}

.button p{
}

.button p:hover{
	color: grey;
}

.button:hover{
	color: grey;
}

.navbar{
	width: 100%;
	height: 60px;
	position: fixed;
	border-radius: 0px;
	background: #263238;
}

.sidebar-menu {
	width: 175pt;
	height:100%;
	position:fixed;
	left: -175pt;
	background: #37474F;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
}
.sidebar-menu ul li a{
	color: #fff;
	font-family: 'ubuntu';
}

.sidebar-menu ul li{
	list-style: none;
	padding-top: 19px;
	font-size: 11.4pt;
}

.sidebar-menu ul{
	padding-top: 15px;
	margin-left: -10px;
}

.logo{
	display: inline-block;
	float: left;
	height: 35px;
	margin-top: 11px;
	padding-right: 15%;
}

.body-wrapper{
	width: 100%;
	margin-top: 60px;
}

.search{
	height: 42px;
	width: 35%;
	position: absolute;
	border: 1px solid #455A64;
	margin-top: 8px;
	color: #fff;
	border-radius: 3px;
}

.search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #fff;
	opacity: .90; /* Firefox */
}

input {  /* Firefox 19+ */
	text-indent: 14px;
	font-family: 'ubuntu';
	font-size: 11pt;
}

.form-control{
	border-radius: 0 0 0 0;
	border: 1px solid #ccc;
}
.dropdown-menu{
	font-family: 'ubuntu-l';
	box-shadow: none;
	border: 1px solid #ccc;
	margin-top: -4px;
	border-top: none;
	border-radius: 0 0 0 0;
	color: #ccc;
	float: right;
}

.dropdown-menu li a{
	color: grey;
	font-family: 'ubuntu-l';
}
a:hover{
	text-decoration: none;
	color: #78909C;
}
a {
	text-decoration: none;
	color: #607D8B;
}

.btn-primary{
	color: grey;
	background: #fff;
	border: 1px solid #ccc; 
	margin-left: 50px; 
}
.numbers-container{
	width: auto;
	margin-left: calc(50px + 1%);
	margin-top: 38px;
}
.numbers-container p{
	display: inline-block;
	margin-right: 5%;
	margin-left: 2px;
	font-size: 13pt;
	font-family: 'ubuntu-l';
}
ul{
	list-style-type: none;
}
.pagination > li > a,
.pagination > li > span {
	color: #6D64FD;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
	background-image: linear-gradient(135deg, #2E3C43 0%, #2E3C43 100%);
	border-color:  #2E3C43;
}

.hamburger{
	height: 50px;
	width: 50px;
	display: inline-block;
	float: left;
	margin-left: 20px;
	margin-top: 16px;
	font-size: 14pt;
	color: #fff;
	cursor: pointer;
}
